PUBLIC_IP=node.marstonconnell.xyz
CONTRACT=secret1t6ta5cncc5dhqr2uwvf22dmw9la35rf5aq6nkm
SECRET_REST_URL=http://rpc.pulsar.griptapejs.com:1317/
RPC_ENDPOINT=http://localhost:1234/rpc/v0/
NODE_ENV=debug
MNEMONIC=salt vast demise able news brisk fresh liar rally wash curve tail approve defense nation discover advice man blade garment category shrug dry hurdle